{% if gateways is defined and gateways|length > 0 %}

{% for gkey,gvalue in gateways.items() %}
{% set gateway = gvalue.port %}
{% set virtualService = gvalue.virtualService %}
{% set virtualService_http = virtualService.http %}
{% set destinationRule = gvalue.destinationRule %}
###Name gateway::{{gvalue.name}}
---
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: {{gvalue.name}}
  namespace: istio-system
spec:
  selector:
    istio: ingressgateway
  servers:
  - port:
      number: {{gateway.port}}
      name: {{gateway.name}}
      protocol: HTTP
    hosts:
    - "*"

---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{virtualService.name}}
  namespace: istio-system
spec:
  hosts:
  - "*"
  gateways:
  - {{virtualService.gateways}}
  http:
  - match:
    - port: {{virtualService_http.port}}
    route:
    - destination:
        host: {{virtualService_http.host}}
        port:
          number: {{virtualService_http.number}}

---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: {{destinationRule.name}}
  namespace: istio-system
spec:
  host: {{destinationRule.host}}
  trafficPolicy:
    tls:
      mode: DISABLE
{% endfor %}

{% endif %}
